.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc_grid_container {
  height: 284px;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 14px;
  justify-content: center;
  margin-top: 17px;
}

.calc_grid_container button {
  height: 60px;
  width: 60px;
  padding: 7px;
  border-radius: 10px;
  font-size: 21px;
}

.input {
  margin-bottom: 7px;
}
.output {
  color: rgba(0, 0, 0, 0.567);
  margin-top: 4px;
  font-size: 20px;
}